<app-nav></app-nav>

<div class="row" style="margin: 1rem;">
  <div class="col-md-8">
    <input
      class="form-control"
      type="text"
      [(ngModel)]="filterKey"
      placeholder="Search..."
    />
  </div>
  <div class="col-md-1">
    <button type="button" class="btn btn-info" (click)="searchHero()">
      Search
    </button>
  </div>
  <div class="col-md-2">
    <button
      type="button"
      style="margin-left: 2.5rem;"
      class="btn btn-success"
      (click)="openModal(createHeroModal)"
    >
      Create Hero
    </button>
    <ng-template #createHeroModal>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Create Hero</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="form">
         <label for="name">Name: </label>
         <input id="name" [(ngModel)]="name" class="form-control">
         <label for="power">Power: </label>
         <input id="power" [(ngModel)]="power" class="form-control">
       </div>
      </div>
      <div class="modal-footer">
        <input type='button' value="Cancel" class="btn btn-outline-secondary" (click)=closeModal()>
        <input type='button' value='Submit' class="btn btn-primary" (click)=createHero()>
      </div>
    </ng-template>
  </div>
  
  <div class="col-md-1">
    <button type="button" style="margin-left: 0.5rem;" class="btn btn-secondary" (click)="getHeros()">
      Refresh
    </button>
  </div>
</div>

<div class="container-fluid">
  <div class="row" style="margin: 1rem">
    <div
      class="col-md-3"
      style="margin-top: 1rem;"
      *ngFor="let hero of heros"
      data-toggle="tooltip"
      data-placement="top"
      title="View Details"
    >
      <div
        style="border-radius: 5px; border: 1px solid #333333; margin: 1rem; padding: 1rem;"
      >
        <img
          src="../../assets/image/shield.jpg"
          style="min-height: 11rem; min-width: 11rem; display: block; margin-left: auto; margin-right: auto; width: 50%;"
        />

        <div
          style="margin-top: 1rem; border-top: 1px solid #333333; padding-top: 1rem;"
        >
          <span style="font-size: 20px; color: #333333;">Name : </span>
          <span style="font-size: 20px;"> {{ hero.name }}</span>
        </div>

        <div>
          <span style="font-size: 20px; color: #333333;">Power : </span>
          <span style="font-size: 20px;"> {{ hero.power }}</span>
        </div>
        <div style="padding-top: 1rem;">
          <button
            type="button"
            class="btn btn-primary btn-block"
            (click)="openModal(updateHeroModal, hero)"
          >
            Update Hero
          </button>
          <ng-template #updateHeroModal>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Update Hero</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
             <div class="form">
               <label for="name">Name: </label>
               <input id="name" [(ngModel)]="name" class="form-control">
               <label for="power">Power: </label>
               <input id="power" [(ngModel)]="power" class="form-control">
             </div>
            </div>
            <div class="modal-footer">
              <input type='button' value="Cancel" class="btn btn-outline-secondary" (click)=closeModal()>
              <input type='button' value='Submit' class="btn btn-primary" (click)=update(hero)>
            </div>
          </ng-template>       
        </div>
        <div style="padding-top: 1rem;">
          <button
            type="button"
            class="btn btn-danger btn-block"
            (click)="deleteHero(hero)"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
